.buttonLink-design {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-button {
  width: 100%;
  padding: 10px 10px !important;
  border: 1px solid #fff;
  transition: 0.3s;
  margin-bottom: 15px;
}
.icon-btn {
  margin-left: 10px;
}
@media only screen and (max-width: 600px) {
  buttonLink-design {
    background-color: lightblue;
  }
}
